@-webkit-keyframes zoom-font-size {
  0%   { font-size: 0; }
  100% { font-size: 4em; }
}
@-moz-keyframes zoom-font-size {
  0%   { font-size: 0; }
  100% { font-size: 4em; }
}
@-o-keyframes zoom-font-size {
  0%   { font-size: 0; }
  100% { font-size: 4em; }
}
@keyframes zoom-font-size {
  0%   { font-size: 0; }
  100% { font-size: 4em; }
}

.countdown {
  text-transform: uppercase;
  text-align: center;
  height: 100%;
  color: #0275d8!important;

  -webkit-animation: zoom-font-size 2s normal forwards; /* Safari 4+ */
  -moz-animation:    zoom-font-size 2s normal forwards; /* Fx 5+ */
  -o-animation:      zoom-font-size 2s normal forwards; /* Opera 12+ */
  animation:         zoom-font-size 2s normal forwards;

}

.countdown__days {
  font-size: 3em;
}

.countdown > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  margin: auto;
}

.countdown .col {
  width: 100%;
  display: block;
}

@media screen and (min-width: 767px) {
  .countdown .col {
    width: auto;
    display: inline-block;
    margin-right: 30px;
  }
}

.countdown .row {
  display: block;
  width: 100%;
}
